node_modules/
dist/
.serverless/
.esbuild/
.env
*.log
.DS_Store
coverage/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraform.lock.hcl
terraform/crash.log
